<!doctype html>
<html lang="en" data-report-trigger="button">

<head>

	<script src="../../libext/vendor/components/jquery/jquery.min.js"></script>

	<link rel="stylesheet" href="../../libext/vendor/twbs/bootstrap/dist/css/bootstrap.min.css">
	<script src="../../libext/vendor/twbs/bootstrap/dist/js/bootstrap.min.js"></script>


    <link rel="stylesheet" href="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/css/ol.css" type="text/css">
    <script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/build/ol.js"></script>
	
	
    <style>
	
        .map {
            height: 400px;
            width: 100%;
        }
		
		@media print {
		  .page-break {page-break-after: always;}
		}
		
		@page {
			size: 21cm 29.7cm;
			margin: 10mm 10mm 10mm 10mm;
			 /* change the margins as you want them to be. */
		}

		body {
			background: gray;
		}
		
		.row {
			width: 21cm;
			background: white;
		}
		
		hr {
			display: block;
			width: 100%;
		}
		
		hr.write-line {
			border-top: solid 1px black;
			margin-top: 50px;
			width: 100%;
			display: block;
		}
		
		#content pre {
			white-space: pre-wrap;
			word-wrap: break-word;
		}
		
		
    </style>
	
	
    <title>Werkbon</title>
	
	
</head>

<body>

	<div class="container">
	
		<div class="row">
			<div class="{% if item.fields.geom == '' %}col-12{% else %}col-6{% endif %}" id="content">
				
				<h1>Melding {{ item.key }}</h1><br>
				
				<p>
					<b>{{ item.fields.title }}</b>
				</p>
				
				{# Currently already includes all details and pre tags #}
				{{ item.fields.description|trim }}
				
			</div>
			
			
			{# Only include map if geom is set #}
			{% if item.fields.geom != '' %}
				<div class="col-6">
					<div id="map" class="map"></div>
				</div>
			{% endif %}
			
			
		</div>
			
		

	{# Only include map if geom is set #}
	{% if item.fields.geom != '' %}
		<script type="text/javascript">
		
			var geom = {}
			geom.oFormatWKT = new ol.format.WKT();
			geom.oFeature = ( '{{ item.fields.geom }}' == '' ? null : geom.oFormatWKT.readFeature('{{ item.fields.geom }}') );
			
			geom.oSharedStyle = new ol.style.Style({
				fill: new ol.style.Fill({
					color: "rgb(6,80,140, 0.25)"
				}),
				stroke: new ol.style.Stroke({
					color: "rgb(6,80,140)",
					width: 2
				}),
				image: new ol.style.Circle({
					radius: 7,
					fill: new ol.style.Fill({
						color: "rgb(139,196,88)"
					}),
					stroke: new ol.style.Stroke({
						color: "rgb(0,0,0)",
						width: 1.1
					})
				})
			});
			
			geom.oVectorSource = new ol.source.Vector({ 
				features: ( geom.oFeature ? [ geom.oFeature ] : [] )
			});
			 
			geom.oVector = new ol.layer.Vector({
				source: geom.oVectorSource,
				style: geom.oSharedStyle
			});
			
			geom.aLayers = {
				osm: new ol.layer.Tile({
					source: new ol.source.OSM()
				}),
				vector: geom.oVector
			}

			aExtent = geom.aLayers.vector.getSource().getExtent();
			geom.oCenter = [ 
				( aExtent[0] + aExtent[2] ) / 2,
				( aExtent[1] + aExtent[3] ) / 2,
			];
			
			geom.oMap = new ol.Map({
				target: 'map',
				layers: [
					geom.aLayers.osm,
					geom.aLayers.vector
				],
				view: new ol.View({
					center: geom.oCenter,
					zoom: 17,
					projection: 'EPSG:3857'
				})
			});
			
			
			// Workaround to keep zoom
			geom.oResolution = geom.oMap.getView().getResolution();
			geom.oMap.getView().fit( aExtent, geom.oMap.getSize() );
			// geom.oMap.getView().setResolution(geom.oResolution);
			
			 
			
		</script>
	{% endif %}
	
		{% for attachment in item.attachments %}
		
			
			<div class="row">
				<hr>{{ attachment.fields.item_id }}
				<img src="data:{{ attachment.fields.contents.mimetype }};base64, {{ attachment.fields.contents.data }}" alt="Bijlage" style="max-width: 100%;" />
			</div>
			
		{% endfor %}
	
		<div class="page-break"></div>
	
		<div class="row">
			
			<h1>{{ item.key|qr }}  Melding #{{ item.key }}</h1>
		
			<hr class="write-line">
			<hr class="write-line">
			<hr class="write-line">
			<hr class="write-line">
			<hr class="write-line">
			
		</div>
		
	</div>
</body>

</html>